.resultsWrapper {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results {
    height: 352px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    color: var(--secondary-color);
}

.btnContainer {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 26px;
    height: 26px;
    cursor: pointer
}

.error {
    color: red;
}