.container {
    margin-bottom: 26px;
    width: 1266px;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #E31F24;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}